.App {
    .vote-list-wrapper {
        background-color: #eee;
        padding: 4px;
        margin: 10px;
    }

    .vote-list-container {
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 16px;
        padding: 10px;
    }
}